@CHARSET "ISO-8859-1";


body{
	margin:0; 
	padding:0;
}

#tabla{
	width: 100%;
	height: 350px;
}

table {
   border-collapse:collapse;
   border: #666699 solid 5px;
   margin: 5% auto;
   width:30%;
}

tr, td{
	
	border: 1px solid #666699;
}


input{
   height: 35px;
   width: 86%;
   text-align: center;	
}

.bordeGordo{
	border-top: #666699 solid 5px;
}

.lateralGordo{
	border-right: #666699 solid 5px;
}